Project 3 - Product Landing Page
A PEN BY arbidha
Love
Save
Fork
Settings
Change View



User AvatarUser Menu

HTML
 
HTML Options
<div id="page-wrapper">
<header id="header">
  <div class="logo">
    <img id="header-img" src="https://s3.amazonaws.com/freecodecamp/original_trombones.png" alt="original trombones logo" />
  </div>

  <nav id="nav-bar">
    <ul>
      <li><a class="nav-link" href="#features">Features</a></li>
      <li><a class="nav-link" href="#how-it-works">How It Works</a></li>
      <li><a class="nav-link" href="#pricing">Pricing</a></li>
    </ul>
  </nav>

</header>

<div class="container">

</div>

<section id="hero">
  <h2>Handcrafted, home-made masterpieces</h2>
  <form id="form" action="https://www.freecodecamp.com/email-submit">
    <input name="email" id="email" type="email" placeholder="Enter your email address" required/>
    <input id="submit" type="submit" value="Get Started" class="btn"></input>
  </form>
</section>


<div class="container">
  <section id="features">
    <div class="grid">
      <div class="icon">
        <i class="fa fa-3x fa-fire"></i>
      </div>
      <div class="desc">
        <h2>Premium Materials</h2>
        <p>Our trombones use the shiniest brass which is sourced locally. This will increase the longevity of your purchase.</p>
      </div>
    </div>
    <div class="grid">
      <div class="icon">
        <i class="fa fa-3x fa-truck"></i>
      </div>
      <div class="desc">
        <h2>Fast Shipping</h2>
        <p>We make sure you recieve your trombone as soon as we have finished making it. We also provide free returns if you are not satisfied.</p>
      </div>
    </div>
    <div class="grid">
      <div class="icon">
        <i class="fa fa-3x fa-battery-full" aria-hidden="true"></i>
      </div>
      <div class="desc">
        <h2>Quality Assurance</h2>
        <p>For every purchase you make, we will ensure there are no damages or faults and we will check and test the pitch of your instrument.</p>
      </div>
    </div>
  </section>
  <section id="how-it-works">
    <iframe id="video" height="315" src="https://www.youtube-nocookie.com/embed/y8Yv4pnO7qc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </section>
  <section id="pricing">
    <div id="tenor">
      <div class="level">
        Tenor Trombone
      </div>
      <h2>$600</h2>
      <ol>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum dolor.</li>
        <li>Lorem ipsum.</li>
      </ol>
      <button class="btn">Select</button>
    </div>
    <div id="bass">
      <div class="level">
        Bass Trombone
      </div>
      <h2>$900</h2>
      <ol>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum dolor.</li>
        <li>Lorem ipsum.</li>
      </ol>
      <button class="btn">Select</button>
    </div>
    <div id="valve">
      <div class="level">
        Valve Trombone
      </div>
      <h2>$1200</h2>
      <ol>
        <li>Plays similar to a Trumpet</li>
        <li>Great for Jazz Bands</li>
        <li>Lorem ipsum dolor.</li>
        <li>Lorem ipsum.</li>
      </ol>
      <button class="btn">Select</button>
    </div>
  </section>
  <footer>
    <ul>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <span>Copyright 2016, Original Trombones</span>
  </footer>
</div>
</div>
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
CSS
  1 unsaved changes 
CSS Options
1
/** global element styling **/
2
@import "https://fonts.googleapis.com/css?family=Lato:400,700";
3
* {
4
  margin: 0;
5
  padding: 0;
6
  box-sizing: border-box;
7
}
8
​
9
body {
10
  background-color: #eee;
11
  font-family: 'Lato', sans-serif;
12
}
13
​
14
#page-wrapper {
15
  position: relative;
16
}
17
​
18
li {
19
  list-style: none;
20
}
21
​
22
a {
23
  color: #000;
24
  text-decoration: none;
25
}
26
​
27
/** global classes styling **/
28
.container {
29
  max-width: 1000px;
30
  width: 100%;
31
  margin: 0 auto;
32
}
33
​
34
.btn {
JS
 
JS Options
1

Console
Assets
Comments

Last saved less than a minute agoDelete
EmbedExportShare